[class^="demo-"] {padding-bottom: 60%;}
.pg .demo-pic1 {background:url(../images/genies-3-wishes.jpg)no-repeat center/cover;}
.pg .demo-pic2 {background:url(../images/fortune-gods.jpg)no-repeat center/cover;}
.pg .demo-pic3 {background:url(../images/candy-burst.jpg)no-repeat center/cover;}
.pg .demo-pic4 {background:url(../images/symbols-of-egypt.jpg)no-repeat center/cover;}
.pg .demo-pic5 {background:url(../images/fortune-mouse.jpg)no-repeat center/cover;}
.pg .demo-pic6 {background:url(../images/captains-bounty.jpg)no-repeat center/cover;}
.pg .demo-pic7 {background:url(../images/tree-of-fortune.jpg)no-repeat center/cover;}
.pg .demo-pic8 {background:url(../images/muay-thai-champion.jpg)no-repeat center/cover;}
.jdb .demo-pic1 {background:url(../images/super-niubi.jpg)no-repeat center/cover;}
.jdb .demo-pic2 {background:url(../images/open-sesame2.jpg)no-repeat center/cover;}
.jdb .demo-pic3 {background:url(../images/formosa-bear.jpg)no-repeat center/cover;}
.jdb .demo-pic4 {background:url(../images/winning-mask.jpg)no-repeat center/cover;}
.jdb .demo-pic5 {background:url(../images/mjolnir.jpg)no-repeat center/cover;}
.jdb .demo-pic6 {background:url(../images/ninja-rush.jpg)no-repeat center/cover;}
.jdb .demo-pic7 {background:url(../images/wukong.jpg)no-repeat center/cover;}
.jdb .demo-pic8 {background:url(../images/lucky-dragon.jpg)no-repeat center/cover;}
.sg .demo-pic1 {background:url(../images/brothers-kingdom.jpg)no-repeat center/cover;}
.sg .demo-pic2 {background:url(../images/mr-chu-tycoon.jpg)no-repeat center/cover;}
.sg .demo-pic3 {background:url(../images/golden-lotus-se.jpg)no-repeat center/cover;}
.sg .demo-pic4 {background:url(../images/zuse.jpg)no-repeat center/cover;}
.sg .demo-pic5 {background:url(../images/money-mouse.jpg)no-repeat center/cover;}
.sg .demo-pic6 {background:url(../images/magic-lamp.jpg)no-repeat center/cover;}
.sg .demo-pic7 {background:url(../images/golden-monkey.jpg)no-repeat center/cover;}
.sg .demo-pic8 {background:url(../images/candy-pop.jpg)no-repeat center/cover;}
.bng .demo-pic1 {background:url(../images/scarab-riches.jpg)no-repeat center/cover;}
.bng .demo-pic2 {background:url(../images/shen-long-mi-bao.jpg)no-repeat center/cover;}
.bng .demo-pic3 {background:url(../images/african-spirit.jpg)no-repeat center/cover;}
.bng .demo-pic4 {background:url(../images/wild-888.jpg)no-repeat center/cover;}
.bng .demo-pic5 {background:url(../images/sun-of-egypt.jpg)no-repeat center/cover;}
.bng .demo-pic6 {background:url(../images/dragon-pearls.jpg)no-repeat center/cover;}
.bng .demo-pic7 {background:url(../images/halloween-witch.jpg)no-repeat center/cover;}
.bng .demo-pic8 {background:url(../images/olympian-gods.jpg)no-repeat center/cover;}
.ka .demo-pic1 {background:url(../images/cai-yuan-guang-jin.jpg)no-repeat center/cover;}
.ka .demo-pic2 {background:url(../images/cocorico.jpg)no-repeat center/cover;}
.ka .demo-pic3 {background:url(../images/chinese-opera.jpg)no-repeat center/cover;}
.ka .demo-pic4 {background:url(../images/treasure-bowl.jpg)no-repeat center/cover;}
.ka .demo-pic5 {background:url(../images/route-66.jpg)no-repeat center/cover;}
.ka .demo-pic6 {background:url(../images/erlang-shen.jpg)no-repeat center/cover;}
.ka .demo-pic7 {background:url(../images/quadrupl-dragons.jpg)no-repeat center/cover;}
.ka .demo-pic8 {background:url(../images/lion-dance.jpg)no-repeat center/cover;}
.cq9 .demo-pic1 {background:url(../images/the-coupids.jpg)no-repeat center/cover;}
.cq9 .demo-pic2 {background:url(../images/invincible-elephant.jpg)no-repeat center/cover;}
.cq9 .demo-pic3 {background:url(../images/runningtoro.jpg)no-repeat center/cover;}
.cq9 .demo-pic4 {background:url(../images/sosweet.jpg)no-repeat center/cover;}
.cq9 .demo-pic5 {background:url(../images/chameleon.jpg)no-repeat center/cover;}
.cq9 .demo-pic6 {background:url(../images/luckybats.jpg)no-repeat center/cover;}
.cq9 .demo-pic7 {background:url(../images/wonderland.jpg)no-repeat center/cover;}
.cq9 .demo-pic8 {background:url(../images/redphoenix.jpg)no-repeat center/cover;}
.jili .demo-pic1 {background:url(../images/baoboonchin.jpg)no-repeat center/cover;}
.jili .demo-pic2 {background:url(../images/goldenbank.jpg)no-repeat center/cover;}
.jili .demo-pic3 {background:url(../images/chin-shi-huang.jpg)no-repeat center/cover;}
.jili .demo-pic4 {background:url(../images/charge-buffalo.jpg)no-repeat center/cover;}
.jili .demo-pic5 {background:url(../images/crazyseven.jpg)no-repeat center/cover;}
.jili .demo-pic6 {background:url(../images/golden-queen.jpg)no-repeat center/cover;}
.jili .demo-pic7 {background:url(../images/dragon-treasure.jpg)no-repeat center/cover;}
.jili .demo-pic8 {background:url(../images/god-of-martial.jpg)no-repeat center/cover;}
.joker .demo-pic1 {background:url(../images/roma.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic2 {background:url(../images/supreme-caishen.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic3 {background:url(../images/dragon-power-flame.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic4 {background:url(../images/burning-pearl.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic5 {background:url(../images/lucky-god-progressive2.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic6 {background:url(../images/mulan.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic7 {background:url(../images/sizzling-hot.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.joker .demo-pic8 {background:url(../images/horus-eye.jpg)no-repeat center/contain,radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);}
.hover-big:hover {animation: hover-big .8s ease  alternate infinite;}
.hover-opacity:hover{opacity:.8;}
.more-game-box {display:none !important;border-radius: 5px;}
.more-btn {position: relative;background: rgb(255,161,0);background: -moz-linear-gradient(90deg, rgba(255,161,0,1) 2%, rgba(255,254,186,1) 8%, rgba(255,186,38,1) 20%, rgba(255,240,173,1) 42%, rgba(255,170,11,1) 76%, rgba(255,129,11,1) 97%, rgba(255,178,11,1) 100%);background: -webkit-linear-gradient(90deg, rgba(255,161,0,1) 2%, rgba(255,254,186,1) 8%, rgba(255,186,38,1) 20%, rgba(255,240,173,1) 42%, rgba(255,170,11,1) 76%, rgba(255,129,11,1) 97%, rgba(255,178,11,1) 100%);background: linear-gradient(90deg, rgba(255,161,0,1) 2%, rgba(255,254,186,1) 8%, rgba(255,186,38,1) 20%, rgba(255,240,173,1) 42%, rgba(255,170,11,1) 76%, rgba(255,129,11,1) 97%, rgba(255,178,11,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa100",endColorstr="#ffb20b",GradientType=1);border-radius: 5px;height: 50px;transition: opacity .2s ease;}
.more-btn:before {content: '';position: absolute;top: 2px;bottom: 2px;left: 2px;right: 2px;background: #000;border-radius: 5px;}
.more-btn-link {position: absolute;top:0;bottom:0;left:0;right:0;line-height: 50px;z-index: 1;}
.more_icon {position:relative;width: 100%;padding-bottom: 60%;background: radial-gradient(rgba(0,0,0,0) 0%,rgba(0,0,0,.6) 100%);border-radius: 5px;}
.more_icon:before {position:absolute;top:calc(50% - 25px);left:calc(50% - 25px);content: '';width: 50px;height: 50px;background: url(../images/more-btn.svg)no-repeat center/60%;}
@keyframes hover-big {0% {transform: scale(1);}100% {transform: scale(1.05);}}
@media (max-width: 500px) {.more-game-box {display: block !important;}.col-4.col-md-3 {padding: 0 2px;min-height: 105px;}.h5.custom-golden-color {font-size: .8rem;}}